**/node_modules
**/node_modules/**/*
node_modules
/node_modules
/node_modules/**/*

build
/build
**/build
**/build/**/*

coverage
/coverage
/coverage/**/*
**/coverage
**/coverage/**/*

dist
/dist
/dist/**/*
**/dist
**/dist/**/*

lib
**/lib

.idea
**/.idea

package-lock.json
**/package-lock.json

test/integration/*.ts

.git
.DS_STORE