{
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 80,
	"semi": true,
	"trailingComma": "es5",
	"singleQuote": true,
	"requirePragma": true,
	"insertPragma": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"endOfLine": "auto",
	"arrowParens": "always"
}